@media all and (max-width:767px) {
    html
    {
        width: auto;
    }
    
    .eco, .family, .romantic, .animal {
        padding:0px;
        padding-right: 10px;
        margin-right: 10px;
    }
    
    .articleactivites
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: center;
        margin: auto;
    }
    
    .infospan
    {
        display: inline-block;
        width: 70%;
    }

    h2
    {
        margin-left: 19px;
    }

    #searchbar
    {
        width: 50%;
    }
    
    .submit
    {
        display: none;
    }

    .submitmobile
    {
        display: inline;
        float: left;
        height: 34px;
        background-color:#0065FC;
        border-right: 5px solid #0065FC;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        outline: transparent;
        border: solid transparent;
        color: white;
        font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
        font-size: medium;
        height: 44px;
        overflow: auto;
    }

    #logements
    {
    display:flex;
    flex-direction: column-reverse;
    }

    .hebergement
    {
        display: flex;
        width: 90%;
        background-color: white;
        border: none;
        margin: auto;
        margin-left: 0px;
    }

    .hebergement figure
    {
        width: 330px;
        margin-left: 10px;
    }

    .hebergement img
    {
     width: 100%;
    }

    .populaires
    {
        display: flex;
        width: 100%;
        background-color: #F2F2F2;
        border-radius: 0%;
        justify-content:space-between
    }
    
    .populaires figure
    {
        margin-left: 0px;
        width: 95%
    }
    
    .articleactivites img
    {
        width: 340px;
        height: 150px;
    }

    .footer
    {
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .footer ul
    {
        margin-right: 0px ;
    }

    .fa-chart-line
    {
        float: right;
    }

    .figpop
    {
        width: 100%;
    }
    
    .figpop img
    {
        width: 130px;
        height: 180px;
        object-fit: cover;
    }

    .articleactivites figure
    {
        width: 340px;
        margin-left: 1px

    }

    .vieuxport
    {
        margin-left: 0px;
    }

    nav
    {
        float: none;
        flex-wrap: wrap-reverse;
    }

    #menu
    {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        border-bottom: solid #F2F2F2;
        padding-bottom: 10px;
        width: 100%;
    }
    
    h1
    {
        font-size: x-large;
    }

    .margin
    {
        margin-left: 15px;
    }

    .mapmarker
    {
        margin-left: 20px;
    }

    .captionpop
    {
        font-size: medium;
    }

    .starpop
    {
        padding-top: 10px
    }

    .fa-star
     {
         font-size: medium;
     }


    #menu a:hover
    {
        border-top: none;
        border-bottom: #0065FC 3px solid;
        padding-bottom: 10px;
    }

    .logo
    {
        width: 25%;
        height: 25%;
        margin-top: 10px;
        margin-left: 10px;
    }

    .signup
    {
        position: absolute;
        top: 0px; left: 270px
    }
    
    .filtres
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 20px;
    }
    
    .spanfiltre
    {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .more {
        margin-left: 5px;
    }

    h4
    {
        margin-left: 10px;
    }
    
    
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
    #logements
    {
        display: flex;
        flex-direction: column-reverse
    }
    
    .hebergement
    {
        width: 100%;
        margin-left: 0px;
    }

    .populaires
    {
        width: 95%;
        flex-direction: row;
        flex-wrap: wrap;
        background: none;
        border: none;
    }
    
    .populaires figure 
    {
        width: 600px;
        height: 300px;
        margin: 60px;
        margin-left: 235px;
    }

    .populaires img 
    {
        width: 350px;
        height: 300px;
    }

    .articleactivites
    {
        margin-left: 40px;
    }

    .fa-chart-line
    {
        margin-left: 30px
    }

    h3
    {
        margin-left: 50px;
    }

    #searchbar
    {
        width: 40%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
    #logements
    {
    display:flex;
    flex-direction: column-reverse;
    }

    .footer ul {
        margin-right: 0px;
    }

    .populaires img {
        width: 350px;
        height: 280px;
    }

    .populaires {
        background: none;
        border: none
    }

    .hebergement {
        width: 100%;
        margin: 0px;
    }

    .hebergement img {
        width: 500px;
        height: 300px;
    }

    .articleactivites img
    {
        width: 500px;
        height: 300px;
    }

    .articleactivites
    {
        justify-content: center;
    }

    h1, h2, h3, h4 
    {
        width: auto;
        font-size: xx-large;
    }

    .fa-chart-line{
        margin-left: 20px;
    }

    .filtres {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 20px;
    }
    
    .eco, .family, .romantic, .animal 
    {
        padding: 0px;
        padding-right: 10px;
    }

    #searchbar
    {
        width: 40%;
    }
}

