@font-face {
    font-family:'Raleway-Bold' ;
    src: url(font/Raleway-Bold.ttf);
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url(font/Raleway-Medium.ttf);
}

h1, h2, h3, h4
{
        font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
        font-size: large;
        display: block;
        width: 100%;
}

h2, h3, h4
{
    margin-left: 20px;
}



p
{
    font-family: 'Raleway-Medium', Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-top: 1em;
}

ul
{
    list-style: none;
    margin-top: 25px;
}

li
{
    font-family: 'Raleway-Medium', Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 10px;
}

.signup
{
    color: #0065FC;
    font-weight: bold;
}

a
{
    font-family: 'Raleway-Medium', Arial, Helvetica, sans-serif;
    font-size: medium;
    text-decoration: none;
    color:black ;
}

nav a:hover
{
    color: #0065FC;
    text-decoration-line: overline;
}

em
{
   font-style:normal;
   font-weight:bold; 
   font-size: large;
}

figure
{
   border: 5px solid white; 
   border-radius: 10px;
   background-color: white;
   margin: 20px;
   box-shadow: 3px 3px 3px 3px #d9d9d9
}

.hebergement img
{
    width: 250px;
    height: 130px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.articleactivites img
{
    width: 310px;
    height: 170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.cannebiere, .port, .mouettes, .mer, .panier, .amina
{
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: left;
}

button[type="submit"]
{
    float: left;
    height: 34px;
    background-color:#0065FC;
    border-right: 5px solid #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: transparent;
    border: solid transparent;
    color: white;
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
}

input
{
    height: 30px;
    width: 150px;
    outline: transparent;
    border: 1px solid #F2F2F2;
    float: left;
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
}

.mapmarker
{
    font-size: 1em;
    text-align: center;
    height: 34px;
    width: 50px;
    background-color: #F2F2F2;
    border-top: 1px solid #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
    margin-left: 20px;
}

.info
{
    font-size: 1em;
    color:#0065FC;
    margin-left: 20px;
    margin-right: 10px;
    display: inline-block;

}

span
{
    font-family: 'Raleway-Medium', Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-top: 1em;  
}


.chart-line
{
    font-size: larger;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 40px;
    right: 35px;

}

.filtres
{
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 20px;
    display: block;
}

.filter
{
    font-size: larger;
    color:#0065FC;
}

.more
{
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 20px;
}

.logo
{
    width:100px;
    height:47px;
    margin-top:25px;
    margin-left: 20px;
}

nav
{
    position:relative;
    display: inline;
    float: right;
}

footer
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#menu
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-right: auto;
    width: 65%
}

#logements
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.hebergement
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin: 10px;
    border: 10px solid #F2F2F2;
    border-radius: 10px;
    background-color: #F2F2F2;
    margin-right: 50px;
    margin-left: 20px;
}

.populaires
{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    border: 10px solid #F2F2F2;
    border-radius: 10px;
    background-color: #F2F2F2;
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    font-size: large;
}

#activites
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.articleactivites
{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    font-size: large;
    margin-bottom: 50px;
}

.figpop
{
    display: flex;
    width: 80%;
}

.captionpop
{
    margin: 10px;
}

.figpop img
{
    width: 170px;
    height: 150px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
}

.articleactivites figure
{
    border: 5px solid white; 
   border-radius: 10px;
   background-color: white;
   box-shadow:3px 3px 3px 3px#F2F2F2 ;
}

.grey
{
display: inline;
color: #DEEBFF;
}

.blue
{
    color:#0065FC;
    display: inline;
}

.vieuxport img
{
    height: 375px;
    width: 310px;
    object-fit: cover;
}

.parcnat img
{
    height: 375px;
    width: 310px;
    object-fit: cover;
}

.ilefrioul img, .notredame img
{
    height: 130px;
    width: 310px
    
}

.small
{
    display: flex;
    flex-direction: column;
}

.centre
{
    padding: 9px 9px 9px 9px;
}

.articleactivites caption
{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.economyborder, .familyborder, .romanticborder, .animalborder
{
    border: 10px solid #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin-right: 0px;
}

.eco, .family, .romantic, .animal
{
    border: 3px solid #F2F2F2;
    padding: 10px;
    padding-left: 50px;
    border-radius: 50px;
    transition: all .5s linear;
    border-width: 2px;
}
.fa-heart
{
    position: relative;
    left: 47px;
    top: 2px;
}

.fa-dog
{
    position: relative;
    left: 49px;
    top: 2px;
}

.fa-child
{
    position: relative;
    left: 41px;
    top: 2px;
}

.fa-money-bill-wave
{
    position: relative;
    left: 49px;
    top: 2px;
}


.animal:hover, .eco:hover, .family:hover, .romantic:hover
{
    background-color: #DEEBFF;
}

.fa-chart-line
{
    padding-right: 20px;
}

#global
{
    margin-left: auto;
    margin-right: auto;
    width: 80%
}

.margin
{
    margin-left: 20px;
}